*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(90deg, blue, cyan);
}
.text-container{
    text-align: center;
    color: white;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.h-1{
    text-align: center;
    color: white;
}