* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(89, 55, 224);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.h-1{
    text-align: left;
    margin-left: 70px;
    margin-top: 25%;
    font-size: 70px;
    max-width: 764px;
    font-weight: 700;
}

.p-1{
    text-align: left;
    margin-left: 70px;
    font-size: 20px;
    margin-top: 40px;
    max-width: 496px;
    font-size: 20px;
}

.b-1{
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    background-color: rgb(255, 158, 12);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    
}
.img-1 {
    position: absolute;
    margin-left: 20%;
    margin-top: -10%;
}
