*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(./assets/background/bmw-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.h-1{
    text-align: center;
}
.p-2{
    text-align: center;
}
.logo-container{
    background-image: url(./assets/background/logo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid ;
}